#po-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  z-index: 1; }
  #po-detail .detail-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    overflow: scroll; }
    #po-detail .detail-content .detail-swiper {
      width: 100%;
      height: 50rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      #po-detail .detail-content .detail-swiper .ant-carousel {
        width: 100%;
        height: 100%; }
        #po-detail .detail-content .detail-swiper .ant-carousel .slick-slider {
          width: 100%;
          height: 100%; }
          #po-detail .detail-content .detail-swiper .ant-carousel .slick-slider .slick-list {
            width: 100%;
            height: 100%; }
            #po-detail .detail-content .detail-swiper .ant-carousel .slick-slider .slick-list .slick-track {
              width: 100%;
              height: 100%; }
            #po-detail .detail-content .detail-swiper .ant-carousel .slick-slider .slick-list .slick-slide {
              width: 100%;
              height: 100%; }
              #po-detail .detail-content .detail-swiper .ant-carousel .slick-slider .slick-list .slick-slide img {
                display: block;
                width: 100%;
                height: 100%; }
      #po-detail .detail-content .detail-swiper .ant-carousel .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        overflow: hidden; }
      #po-detail .detail-content .detail-swiper .ant-carousel .slick-slide h3 {
        color: #fff; }
    #po-detail .detail-content .detail-info {
      width: 100%;
      height: 30rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      #po-detail .detail-content .detail-info .detail-price {
        width: 90%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        #po-detail .detail-content .detail-info .detail-price span:nth-child(1) {
          display: block;
          width: 15%;
          height: 50%;
          background: lightgoldenrodyellow;
          color: orangered;
          border-radius: 15%;
          text-align: center;
          line-height: 0.17rem; }
        #po-detail .detail-content .detail-info .detail-price span:nth-child(2) {
          display: block;
          width: 25%;
          height: 100%;
          color: orangered;
          text-align: center;
          font-size: 0.22rem;
          font-weight: bold;
          line-height: 0.32rem; }
        #po-detail .detail-content .detail-info .detail-price span:nth-child(3) {
          display: block;
          width: 10%;
          height: 80%;
          color: #999;
          text-align: center;
          text-decoration: line-through;
          line-height: 0.3rem; }
      #po-detail .detail-content .detail-info .detail-name {
        width: 90%;
        height: 30%;
        color: #333; }
      #po-detail .detail-content .detail-info .detail-describe {
        width: 90%;
        height: 45%; }
        #po-detail .detail-content .detail-info .detail-describe p {
          font-size: 0.12rem;
          color: #999;
          text-indent: 2em;
          line-height: 0.2rem; }
    #po-detail .detail-content .detail-shotimg {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      #po-detail .detail-content .detail-shotimg img {
        display: inline-block;
        width: 100%; }
  #po-detail .detail-footer {
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center; }
    #po-detail .detail-footer h1 {
      display: block; }
  #po-detail .detail-back {
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.5;
    border-radius: 50%; }
    #po-detail .detail-back img {
      display: block;
      height: 100%;
      height: 100%; }
