#po-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    z-index: 1;
    .detail-content{
        width: 100%;
        height: 92%;
        background: #fff;
        overflow: hidden;
        .detail-scroll-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            .detail-swiper{
                width: 100%;
                height: 3.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .ant-carousel{
                    width: 100%;
                    height: 100%;
                    .slick-slider{
                        width: 100%;
                        height: 100%;
                        .slick-list{
                            width: 100%;
                            height: 100%;
                            .slick-track{
                                width: 100%;
                                height: 100%;
                            }
                            .slick-slide {
                                width: 100%;
                                height: 100%;
                                img{
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .ant-carousel .slick-slide {
                    text-align: center;
                    height: 160px;
                    line-height: 160px;
                    background: #364d79;
                    overflow: hidden;
                }
                .ant-carousel .slick-slide h3 {
                    color: #fff;
                }
            }
            .detail-info{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                .detail-price{
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    span:nth-child(1){
                        display: block;
                        width: 15%;
                        height: 50%;
                        background: lightgoldenrodyellow;
                        color:orangered;
                        border-radius: 15%;
                        text-align: center;
                        line-height: 0.17rem;
                    }
                    span:nth-child(2){
                        display: block;
                        width: 25%;
                        height: 100%;
                        color:orangered;
                        text-align: center;
                        font-size: 0.22rem;
                        font-weight: bold;
                        line-height: 0.32rem;
                    }
                    span:nth-child(3){
                        display: block;
                        width: 10%;
                        height: 80%;
                        color: #999;
                        text-align: center;
                        text-decoration: line-through;
                        line-height: 0.3rem;
                    }
                    span:nth-child(4){
                        display: block;
                        width: 50%;
                        height: 80%;
                        color: #999;
                        text-align: right;
                        line-height: 0.3rem;
                    }
                }
                .detail-name{
                    width: 90%;
                    color: #333;
                    margin: 0.1rem 0;
                }
                .detail-describe{
                    width: 90%;
                    p{
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 0.12rem;
                        color: #999;
                        text-indent: 2em;
                        line-height: 0.25rem;
                    }
                }
            }
            .detail-shotimg{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                .detail-line{
                    width: 100%;
                    height: 15%;
                    background: #000;
                    margin: 0.1rem auto;
                    p{
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        color: #FFFFFF;
                        font-size: 0.2rem;
                        line-height: 0.35rem;
                    }
                }
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    .detail-footer{
        width: 100%;
        height: 8%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background: #fff;
        border-top: 0.01rem solid #999;
        .detail-like,.detail-collect{
            width: 15%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 70%;
                height: 70%;
            }
        }
        .detail-cart{
            width: 70%;
            height: 100%;
            background: orange;
            font-size: 0.18rem;
            text-align: center;
            line-height: 0.4rem;
        }
    }
    .detail-back{
        display: block;
        width: 0.4rem;
        height: 0.4rem;
        position: absolute;
        top: 0.1rem;
        left: 0.1rem;
        z-index: 1;
        img{
            display: block;
            height: 100%;
            height: 100%;
        }
    }
}

