#po-me{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .me-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .me-header{
            width: 100%;
            height: 0.45rem;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .me-back{
                width: 11%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 0.2rem;
                img{
                    display: block;
                    width: 90%;
                    height: 70%;
                }
            }
            .login-router,.register-router{
                width: 30%;
                height: 50%;
                text-align: center;
                font-size: 0.14rem;
                line-height: 0.25rem;
            }
            .login-router{
                border-right: 0.01rem solid #ccc;
            }
        }
        .me-container{
            width: 100%;
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
