@keyframes leftHover
{
    from {
        left: -3.75rem;
    }
    to {
        left: 0;
    }
    
}
#ps-me{
    position: absolute;
    top: -9%;
    left: 0;
    width: 100%;
    height: 109%;
    animation: leftHover 0.5s;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .me-header{
        width: 100%;
        height: 0.45rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .me-back ,.me-home{
            width: 20%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;    
            img{
                display: block;
                width: 40%;
                height: 60%;
            }
        }
        .me-title{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;    
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
