#po-app{
    width: 100%;
    height: 100%;
    font-size: 0.12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    #po-router{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    #po-header{
        width: 100%;
        height: 10%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background: #ef6ea8;
        border-bottom: 0.01rem solid #eee;
        .po-list,.po-info{
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;            
            img{
                display: block;
                width: 45%;
                height: 60%;
            }
        }
        .po-logo{
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img{
                display: block;
                width: 70%;
                height: 90%;
            }
        }
    }
    #po-nav{
        width: 100%;
        height: 9%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        li{
            margin: 0;
            padding: 0;
            width : 15%;
            text-align: center;
        }
    }
    #po-cart{
        width: 0.4rem;
        height: 0.4rem;
        background: darkorange;
        border-radius: 50%;
        position: fixed;
        top: 84%;
        left: 5%;
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        img{
            display: block;
            width: 60%;
            height: 60%;
        }
    }
}