#po-app {
  width: 100%;
  height: 100%;
  font-size: 0.12rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  #po-app #po-router {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  #po-app #po-header {
    width: 100%;
    height: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #ef6ea8;
    border-bottom: 0.01rem solid #eee; }
    #po-app #po-header .po-list, #po-app #po-header .po-info {
      width: 20%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      #po-app #po-header .po-list img, #po-app #po-header .po-info img {
        display: block;
        width: 45%;
        height: 60%; }
    #po-app #po-header .po-logo {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      #po-app #po-header .po-logo img {
        display: block;
        width: 70%;
        height: 90%; }
  #po-app #po-nav {
    width: 100%;
    height: 8%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    #po-app #po-nav li {
      margin: 0;
      padding: 0;
      width: 15%;
      text-align: center; }
  #po-app #po-cart {
    width: 0.4rem;
    height: 0.4rem;
    background: darkorange;
    border-radius: 50%;
    position: fixed;
    top: 84%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #po-app #po-cart img {
      display: block;
      width: 60%;
      height: 60%; }
