@import url(~antd/dist/antd.css);
#po-new {
  width: 100%;
  height: 81%;
  position: relative;
  background: #E6E6FA;
  overflow: hidden; }
  #po-new .new-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    #po-new .new-content .new-banner {
      width: 100%;
      height: 1.6rem; }
      #po-new .new-content .new-banner .ant-carousel {
        width: 100%;
        height: 100%; }
        #po-new .new-content .new-banner .ant-carousel .slick-slider {
          width: 100%;
          height: 100%; }
          #po-new .new-content .new-banner .ant-carousel .slick-slider .slick-list {
            width: 100%;
            height: 100%; }
            #po-new .new-content .new-banner .ant-carousel .slick-slider .slick-list .slick-track {
              width: 100%;
              height: 100%; }
            #po-new .new-content .new-banner .ant-carousel .slick-slider .slick-list .slick-slide {
              width: 100%;
              height: 100%; }
              #po-new .new-content .new-banner .ant-carousel .slick-slider .slick-list .slick-slide img {
                display: block;
                width: 100%;
                height: 100%; }
      #po-new .new-content .new-banner .ant-carousel .slick-slide {
        text-align: center;
        height: 160px;
        line-height: 160px;
        background: #364d79;
        overflow: hidden; }
      #po-new .new-content .new-banner .ant-carousel .slick-slide h3 {
        color: #fff; }
    #po-new .new-content .new-goodlist {
      width: 100%; }
      #po-new .new-content .new-goodlist .new-item {
        display: block;
        width: 48%;
        height: 2rem;
        float: left;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0.04rem 0.03rem;
        border-radius: 5%; }
      #po-new .new-content .new-goodlist li {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        #po-new .new-content .new-goodlist li .goodImg {
          width: 100%;
          height: 70%; }
          #po-new .new-content .new-goodlist li .goodImg img {
            display: block;
            width: 100%;
            height: 100%; }
        #po-new .new-content .new-goodlist li .goodName {
          width: 100%;
          height: 10%;
          margin: 0.05rem 0;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center; }
          #po-new .new-content .new-goodlist li .goodName img {
            display: block;
            width: 18%;
            height: 0.22rem; }
          #po-new .new-content .new-goodlist li .goodName span {
            display: block;
            width: 70%;
            height: 80%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 0.15rem;
            color: #000; }
        #po-new .new-content .new-goodlist li .goodInfo {
          width: 90%;
          height: 15%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center; }
          #po-new .new-content .new-goodlist li .goodInfo .goodPrice {
            display: block;
            width: 50%;
            height: 100%;
            color: red;
            font-size: 0.16rem;
            text-align: left;
            line-height: 0.3rem; }
          #po-new .new-content .new-goodlist li .goodInfo .goodPeople {
            display: block;
            width: 50%;
            height: 60%;
            text-align: right;
            color: #999; }
